html {
    overflow-y: hidden;
}


#page {
    height: calc(100vh + 12px);
}


#content {
    background-color: whitesmoke;
    overflow: scroll;
    margin-right: 12px;
}



/* Menu */
#menu {
    width: 200px;
    background-color: #3d3d3d;
    text-align: center;
    padding: 0px;
    padding-top: 50px;
}
#menu-header {
    color: whitesmoke;
    margin-bottom: 20px;
}
.menu-btn {
    width: 100%;
    border-radius: 0px;
    border: 0px;
    border-top: 1px turquoise solid;
    background-color: #3d3d3d;
    color: white;
}
.menu-btn:hover {
    background-color: white;
}
.menu-active{
    background-color: whitesmoke;
    color: #3d3d3d;
}


/* Status Bar */
#_status{
    position: absolute;
    bottom: -56px;
    width: 100%;
    text-align: center;
    background-color: #23D160;
    padding: 10px;
    font-size: 23px;
    color: white;
}
#_status button{
    background-color: #23D160;
    border: none;
}




.hideit {
    display: none !important;
}

.pad {
    padding-left: 30px;
    padding-top: 50px;
}

.font-size-1 {
    font-size: 18px;
}

.font-size-2 {
    font-size: 100px;
}

.font-size-3 {
    font-size: 70px;
}

.font-size-4 {
    font-size: 70px;
}

.border-left-1 {
    border-left: 1px solid lightgrey;
}

li {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}




/* Checkboxes */
.containerz {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.containerz input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 330px;
    height: 25px;
    width: 25px;
    background-color: white;
    /* rgb(114, 114, 114);*/
    border: solid turquoise 2px;
}
.containerz:hover input~.checkmark {
    background-color: #ccc;
}
.containerz input:checked~.checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.containerz input:checked~.checkmark:after {
    display: block;
}
.containerz .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Scrollbar */
::-webkit-scrollbar {
    /* padding-left: 100px; */
    width: 5px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: turquoise;
}
.super-p {
    font-weight: bold;
    font-size: 20px;
}
.width-idek {
    width: 100px;
}



