<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ManageBit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../import/bulma.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../import/fa.css" />
    <link rel="stylesheet" type="text/css" media="print" href="../print.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style.css" />
    <!-- <script src="./script/main.js"></script>
    <script src="./script/manageSite.js"></script>
    <script src="./script/manageSale.js"></script>
    <script src="./script/siteExplorer.js"></script>
    <script src="./script/search.js"></script>
    <script src="./script/kManager.js"></script> -->
</head>

<body>

    <!-- <div class="bootDivs" id="loadingDataDiv">
        <img src="./import/spin.png" class="fa fa-spin" width="100px" height="100px" alt="Loading...">
        <h1 class="font-size-3">Syncing Data...</h1>
    </div> -->
    <!-- Pass Protection -->
    <div class="bootDivs" id="passDiv">
        <div id="passImg">
            <img src="../import/archive.png" width="200px" height="200px">
            <p>ManageBit v2.1.0 <br> AN <a href="https://aroxbit.com">AROXBIT</a> CRAFT</p>
        </div>
        <input type="password" class="input is-info" id="pass-input" placeholder="Password">
        <input type="text" class="hideit input is-info" id="pass-input" placeholder="Password" value="Loading Data..." disabled>
        <button class="button is-primary" id="pass-btn">Login</button>
        
    </div>

</body>
</html>


